name: Windows-RDP-Bore

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      # 1. Cấu hình User và Mật khẩu cho RDP
      - name: Setup User
        run: |
          Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
          
      # 2. Tải Bore (Công cụ tạo Tunnel đơn giản giống Ngrok)
      - name: Download Bore
        run: |
          Invoke-WebRequest https://github.com/ekzhang/bore/releases/download/v0.5.1/bore-v0.5.1-x86_64-pc-windows-msvc.zip -OutFile bore.zip
          Expand-Archive bore.zip

      # 3. Kích hoạt Remote Desktop trên Windows Runner
      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

      # 4. Tạo đường hầm TCP trực tiếp
      - name: Start Tunnel
        run: |
          Write-Host "Dang ket noi Bore..."
          # Chạy bore port 3389 ra server công khai bore.pub
          .\bore\bore.exe local 3389 --to bore.pub
